<StackLayout class="m-16" sdkExampleTitle sdkToggleNavButton>
    <Button text="Download file robots.txt" class="btn btn-primary btn-active" (tap)="onDownload()"></Button>
    <Label [text]="message" class="h3 p-16" textWrap="true"></Label>

    <Label text="Content" class="h4 p-16" textWrap="true"></Label>
    <Label [text]="destination" class="h3 p-16" textWrap="true"></Label>

    <Label text="Content: " class="h4 p-16" textWrap="true"></Label>
    <Label [text]="content" class="h3 p-16"textWrap="true"></Label>
</StackLayout>